<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >

    <title>Review Analysis</title>
	
	<style>
        .container-fluid{
            padding: 0 !important;
        }
		.main-container{
			background-color:#444;
			height:100vh;
			display: flex;
			justify-content:space-evenly;
			align-items:stretch;
		}
		.card{
			width: 80%;
		}
	</style>
  </head>
  <body>
  	<header>
		<div class="container">
		<div id="brandname">
			SopraSteria Future Ready Initiative
		</div>
		<h2>Product Review Analyzer</h2>
		
	</div>
	</header>
    <div class="container-fluid main-container">
	
	<div class="bg-primary w-100" style="display: flex;align-items:center;justify-content:center;">
		<div class="card">
			<div class="card-header text-uppercase text-center">
				input your reviews
			</div>
			<form action="{{ url_for('predict') }}" method="post" class="card-body">
				<div class="form-group">
					    <label for="reviewIn">User Review:</label>
						<textarea  class="form-control" name="message" rows="6" placeholder="Please type your review here" id="reviewIn">{% if message != None %}{% print(message) %}{% endif %}</textarea>
						

				</div>
				<div class="form-group">
				<input type="submit" class="btn btn-primary" value="SUBMIT"/>
				</div>
 			</form>			
		</div>
	</div>
	<div class="bg-warning w-100" style="display: flex;align-items:center;justify-content:center;">
	<div class="card">
            <div class="card-header h3 text-uppercase text-center">Ratings</div>
			<div class="card-body text-uppercase text-center">
			<ul class="list-group list-group-flush">
			<li class="list-group-item">Quality: 
			<i class="fa fa-star fa-2x 
				{% if QL >= 1 %}
					text-success
				{% else %}
					text-muted
					{% endif %}
			
			"></i> 
			<i class="fa fa-star fa-2x 
				{% if QL >= 2 %}
					text-success
				{% else%}
					text-muted
					{% endif %}
			
			"></i> 
			<i class="fa fa-star fa-2x 
				{% if QL >= 3 %}
					text-success
				{% else %}
					text-muted
					{% endif %}
			
			"></i>
			<i class="fa fa-star fa-2x 
				{% if QL >= 4 %}
					text-success
				{% else %}
					text-muted
					{% endif %}
			
			"></i> 
			<i class="fa fa-star fa-2x 
				{% if QL >= 5 %}
					text-success
				{% else %}
					text-muted
					{% endif %}
			
			"></i>
            </li>
			
			<li class="list-group-item">Delivery:
			<i class="fa fa-star fa-2x
				{% if DE >= 1 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if DE >= 2 %}
					text-success
				{% else%}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if DE >= 3 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if DE >= 4 %}
					text-success
				{% else %}
					text-muted
					{% endif %}
			"></i>
					
			<i class="fa fa-star fa-2x
				{% if PK >= 5 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>	
			</li>	

			
			<li class="list-group-item">Package:
			<i class="fa fa-star fa-2x
				{% if PK >= 1 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if PK >= 2 %}
					text-success
				{% else%}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if PK >= 3 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if PK >= 4 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if PK >= 5 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>

            </li>
			<li class="list-group-item">Service:
			<i class="fa fa-star fa-2x
				{% if SE >= 1 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if SE >= 2 %}
					text-success
				{% else%}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if SE >= 3 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if SE >= 4 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>
			<i class="fa fa-star fa-2x
				{% if SE >= 5 %}
					text-success
				{% else %}
					text-muted
					{% endif %}

			"></i>

            </li>			
			</ul>
			</div>
			</div>
	</div>
	
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>